
<%= simple_form_for [@product, @faq] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  	<%= f.input :question %>
  	<%= f.input :answer %>
  </div>

  <div class="form-actions">
    <%= f.submit "Create FAQ", :class => 'btn btn-primary' %>
	<%= link_to 'Back', product_path(@product), :class => 'btn btn-danger pull-right' %>
  </div>
<% end %>
