<div class="dl-horizontal">
<h1>Collate by Eltek</h1>
</div>

<% if user_signed_in? && current_user.last_viewed.present? %>
<h4>Recently viewed products</h4>
<div class="grid">
	<% current_user.last_viewed.each do |viewed| %>
		<div class="welcome-links">
			<%= link_to '', product_path(viewed), :class => "link-spanner" %>
			<h5><%=  @products.find_by_id(viewed).product_code %></h5>
			<p><% if @products.find_by_id(viewed).groups.present? %><%= @products.find_by_id(viewed).groups.first.name %><% else %>&nbsp;<% end %></p>
			<% if @products.find_by_id(viewed).header_image.attached? %>
			<%= image_tag(@products.find_by_id(viewed).header_image) %>
			<% else %>
			<%=  image_tag("paper.jpg", size: "150x150") %>
			<% end %>
		</div>
	<% end %>
</div>
<% end %>