<%- model_class = Study -%>
<div class="page-header">
  <% if @study.banner.attached? %>
  <%= image_tag @study.banner.variant(resize: "940x940", crop: "940x120+0+140"), id: "banner-image" %>
  <% end %>
  <h1><%= @study.name %></h1>
</div>

<div id="study-content">
<div class="dl-horizontal">
  <%= simple_format(@study.description) %>

</div>
<div class="dl-horizontal">
  <% if @study.products.present? %>
  <h5>Products used in this case study:</h5>
  <% else %>
  <h5>&nbsp;</h5>
  <% end %>
  <% if can? :update, @studies %>
  <%= link_to t('.edit', :default => t("Add products")),
                  study_add_path(@study), :class => 'add-product-info' %>
    <% @study.products.each do |product| %>
        <dt><% if product.groups.exists? %><%= product.groups.first.name %>:<% else %>Other:<% end %></dt><dd><%= link_to product.product_code, product_path(product) %> (<%= truncate(product.description, :length => 70, :separator => ' ') %>)</dd>
    <% end %>
  </ul>
  <% elsif can? :update, @studies %>
    <p>Click "Add products" to link products to this case study.</p> 
  <% else %>
    <p class="add-product-info">No products associated with this case study.</p>
  <% end %>

</div>


  <% if @study.images.attached? %>
  <div class="dl-horizontal" id="product-uploads">
    <% @study.images.each do |image| %>
      <% if image.variable? %>
        <span><%= link_to image_tag(image.variant(resize: "200x200"), class: "other-image"), rails_blob_path(image), data: { lightbox: "example-set", title: @study.name } %></span>
      <% elsif image.previewable? %>
        <span><%= link_to image_tag(image.preview(resize: "100x100"), class: "other-image"), rails_blob_path(image), target: "_blank" %></span>
      <% else %>
        <span><%= link_to image_tag("paper.jpg", size: "100x100", class: "other-image"), rails_blob_path(image), target: "_blank" %></span>
      <% end %>
      <% if can? :destroy, @study.images %>
            <%= link_to "X", study_image_remove_path(@study, image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => 'Are you sure you want to delete this image?') },
                      :class => 'delete delete-upload' %></td>
          <% end %>
    <% end %>
  </div>
<% end %>


<div id="study-links">
<%= link_to t('.index', :default => t("helpers.links.index")),
              studies_path, :class => 'btn btn-default'  %>
  <span class="pull-right"><% if can? :destroy, @studies %>
      <a data-target="#", id="show" class="btn btn-default">Manage</a>
  <% end %>
  <% if can? :update, @studies %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_study_path(@study), :class => 'btn btn-info delete' %>
  <% end %>
  <% if can? :destroy, @studies %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              study_path(@study),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger delete' %>
  <% end %>
</span>
</div>              
</div>
</div>