<%- model_class = Study -%>
<div class="page-header">
  <h1><%= @study.name %></h1>
</div>

<div class="dl-horizontal">
  <%= simple_format(@study.description) %>

</div>
<div class="dl-horizontal">
  <% if @study.products.present? %>
  <h5>Products used in this case study:</h5>
  <% if can? :update, @studies %>
  <%= link_to t('.edit', :default => t("Add products")),
                  study_add_path(@study), :class => 'add-product-info' %>
  <% end %>
    <% @study.products.each do |product| %>
        <dt><%= link_to product.product_code, product_path(product) %></dt><dd><%= truncate(product.description, :length => 70, :separator => ' ') %></dd>
    <% end %>
  </ul>
  <% elsif can? :update, @studies %>
    <p>Click "Add products" to link products to this case study.</p> 
  <% else %>
  <% end %>

</div>

<div id="study-links">
<%= link_to t('.index', :default => t("helpers.links.index")),
              studies_path, :class => 'btn btn-default'  %>
  <span class="pull-right"><% if can? :destroy, @studies %>
      <a data-target="#", id="show" class="btn btn-default">Manage</a>
  <% end %>
  <% if can? :update, @studies %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_study_path(@study), :class => 'btn btn-info delete' %>
  <% end %>
  <% if can? :destroy, @studies %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              study_path(@study),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger delete' %>
  <% end %>
</span>
</div>              
</div>