<%- model_class = Category -%>
<div class="page-header">
  <h1><%= @category.name %></h1>
</div>

              
<div class="dl-horizontal">
  <% if @category.studies.present? %>
    <% @category.studies.each do |study| %>
        <dt><%= link_to study.name, study_path(study) %></dt><dd><%= truncate(study.description, :length => 70, :separator => ' ') %></dd>
    <% end %>
  </ul>
  <% else %>
    <h4>Click below to add studies to this category</h4>
  <% end %>
</div>
<% if @category.products.present? %>
<p>Products that have been used in case studies in this category:</p>
<div class="dl-horizontal">
   <% @category.products.each do |product| %>
        <dt><% if product.groups.exists? %><%= product.groups.first.name %>:<% else %>Other:<% end %></dt><dd><%= link_to product.product_code, product_path(product) %> (<%= truncate(product.description, :length => 70, :separator => ' ') %>)</dd>
    <% end %>
</div>
<% end %>


  <% if can? :update, @categories %>
    <%= link_to "Add Case Studies", category_add_path(@category), :class => 'btn btn-info' %>
  <% end %>

  <span class="pull-right">
  <% if can? :update, @categories %>
  <a data-target="#" class="btn btn-default" id="show">Manage</a>
    <%= link_to "Edit", edit_category_path(@category), :class => 'btn btn-info delete' %>
  <% end %>
  <% if can? :destroy, @categories %>
    <%= link_to "Delete", category_path(@category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => 'Are you sure you want to delete this category?') },
                      :class => 'btn btn-danger delete' %></td>
  <% end %>
</span>

