<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

<div class="flickr_pagination">
    <%= will_paginate @products, :container => false %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-1"><%= model_class.human_attribute_name(:product_code) %></th>
      <th class="col-md-5"><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><% if product.header_image.attached? && product.header_image.variable? %><%= image_tag product.header_image.variant(resize: "50x50"), class: "product-thumbnail" %><% end %></td>
        <td><%= link_to product.product_code, product_path(product) %></td>
        <td><%= truncate(product.description, :length => 90, :separator => ' ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flickr_pagination">
    <%= will_paginate @products, :container => false %>
</div>

<% if can? :create, @products %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
<% end %> 
